{% extends ext %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% block content %}
    {% if conf.dontencapsulate %}
        {{ conf.content | raw }}
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading lead">{{ _lang.get('add') | capitalize }} {{ conf.title | lower }}</div>
            <div class="panel-body">
                {{ conf.content | raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}