{% extends 'vendor/lfw/admin/src/Weblab/Admin/View/admin.twig' %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% import _self as macros %}

{% macro table(conf, data) %}
    {% import _self as macros %}
    <table class="table table-striped table-condensed table-hover table-responsive table-bordered {{ conf.table.class }}">
        <thead>
        <tr>
            {% for head in conf.heading %}
                <th>{{ head | capitalize }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {{ macros.row(row, conf) }}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro rowBtn(btn, row, conf) %}
    {% if btn == "edit" or btn.type == "edit" %}
        <a href="{{ btn.url | default(conf.url.edit) }}/{{ row.getId() }}" title="{{ _lang.get('edit') }}"
           class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
    {% elseif btn == "delete" %}
        <a href="{{ conf.url.delete }}/{{ row.getId() }}" title="{{ _lang.get('delete') }}"
           class="btn btn-danger btn-xs ajaxdelete"><i class="fa fa-trash-o"></i></a>
    {% elseif btn == "view" %}
        <a href="{{ conf.url.view }}/{{ row.getId() }}" title="{{ _lang.get('view') }}" class="btn btn-info btn-xs"><i
                    class="fa fa-search"></i></a>
    {% else %}
        <a href="{{ btn.url }}/{{ row.getId() }}"
           title="{% if btn.alt %}{{ btn.alt }}{% else %}{{ btn.title }}{% endif %}"
           class="btn btn-{{ btn.class }} btn-xs">{{ btn.title | raw }}</a>
    {% endif %}
{% endmacro %}

{% macro row(row, conf, class, parent) %}
    {% import _self as macros %}
    <tr data-id="{{ row.getId() }}" data-parent-id="{% if parent %}{{ parent.getId() }}{% endif %}">
        {% for headKey,headVal in conf.heading %}
            <td>{{ row.get(headKey) }}</td>
        {% endfor %}
        <td>
            {% for btn in conf.rowbtn %}
                {{ macros.rowBtn(btn, row, conf) }}
            {% endfor %}

            {% for btn in row.rowbtn %}
                {{ macros.rowBtn(btn, row, conf) }}
            {% endfor %}
        </td>
    </tr>
    {% for childRow in row.getChildren %}
        {{ macros.row(childRow, conf, 'child', row) }}
    {% endfor %}
{% endmacro %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading lead">
            {{ conf.title | capitalize }}

            <div class="pull-right">
                {% for btn in conf.headbtn %}
                    {% if btn == "add" %}
                        <a href="{{ conf.url.add }}" title="{{ _lang.get('add') }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-plus"></i></a>
                    {% elseif btn == "sort" %}
                        <a href="{{ conf.url.sort }}" title="{{ _lang.get('sort') }}" class="btn btn-default btn-xs"><i
                                    class="fa fa-sort"></i></a>
                    {% else %}
                        <a href="{{ btn.url }}"
                           title="{% if btn.alt %}{{ btn.alt }}{% else %}{{ btn.title }}{% endif %}"
                           class="btn btn-{{ btn.class }} btn-xs">{{ btn.title | raw }}</a>
                    {% endif %}
                {% endfor %}

                <!--<div class="btn-group">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                    More <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Categories</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Filter</a></li>
                  </ul>
                </div>-->
            </div>
        </div>
        <div class="panel-body">
            {{ conf.description | raw }}

            {{ macros.table(conf, data) }}
        </div>
    </div>
{% endblock %}