{% block content %}

    <div class="panel panel-default">
        <!--<div class="panel-heading lead">
		{{ conf.title | capitalize }}

		<div class="pull-right">
          	{% for btn in conf.headbtn %}
          		{% if btn == "add" %}
          			<a href="{{ conf.url.add }}" title="{{ _lang.get('add') }}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></a>
          		{% elseif btn == "sort" %}
          			<a href="{{ conf.url.sort }}" title="{{ _lang.get('sort') }}" class="btn btn-default btn-xs"><i class="fa fa-sort"></i></a>
          		{% else %}
          			<a href="{{ btn.url }}" title="{% if btn.alt %}{{ btn.alt }}{% else %}{{ btn.title }}{% endif %}" class="btn btn-{{ btn.class }} btn-xs">{{ btn.title | raw }}</a>
          		{% endif %}
          	{% endfor %}

			<! - - <div class="btn-group">
			  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
			    More <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="#">Categories</a></li>
			    <li class="divider"></li>
			    <li><a href="#">Filter</a></li>
			  </ul>
			</div> - - >
		</div>
	</div>-->
        <div class="panel-body">
            <div class="pull-right">
                {% for btn in conf.headbtn %}
                    {% if btn == "add" %}
                        <a href="{{ conf.url.add }}" title="{{ _lang.get('add') }}" class="btn btn-success btn-xs"><i
                                    class="fa fa-plus"></i></a>
                    {% elseif btn == "sort" %}
                        <a href="{{ conf.url.sort }}" title="{{ _lang.get('sort') }}" class="btn btn-default btn-xs"><i
                                    class="fa fa-sort"></i></a>
                    {% else %}
                        <a href="{{ btn.url }}"
                           title="{% if btn.alt %}{{ btn.alt }}{% else %}{{ btn.title }}{% endif %}"
                           class="btn btn-{{ btn.class }} btn-xs">{{ btn.title | raw }}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <table class="table table-striped table-condensed table-hover table-responsive datatable">
                <thead>
                <tr>
                    {% for head in conf.heading %}
                        <th>{{ head | capitalize }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        {% for k,col in row if k != "rowbtn" %}
                            <td>{{ col }}</td>
                        {% endfor %}
                        <td>
                            {% for btn in conf.rowbtn %}
                                {% if btn == "edit" or btn.type == "edit" %}
                                    <a href="{{ btn.url | default(conf.url.edit) }}/{{ row.id }}"
                                       title="{{ _lang.get('edit') }}" class="btn btn-warning btn-xs"><i
                                                class="fa fa-pencil"></i></a>
                                {% elseif btn == "delete" %}
                                    <a href="{{ conf.url.delete }}/{{ row.id }}" title="{{ _lang.get('delete') }}"
                                       class="btn btn-danger btn-xs ajaxdelete"><i class="fa fa-trash-o"></i></a>
                                {% else %}
                                    <a href="{{ btn.url }}/{{ row.id }}"
                                       title="{% if btn.alt %}{{ btn.alt }}{% else %}{{ btn.title }}{% endif %}"
                                       class="btn btn-{{ btn.class }} btn-xs">{{ btn.title | raw }}</a>
                                {% endif %}
                            {% endfor %}

                            {% for btn in row.rowbtn %}
                                {% if btn == "edit" %}
                                    <a href="{{ conf.url.edit }}/{{ row.id }}" title="{{ _lang.get('edit') }}"
                                       class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                {% elseif btn == "delete" %}
                                    <a href="{{ conf.url.delete }}/{{ row.id }}" title="{{ _lang.get('delete') }}"
                                       class="btn btn-danger btn-xs ajaxdelete"><i class="fa fa-trash-o"></i></a>
                                {% else %}
                                    <a href="{{ btn.url }}/{{ row.id }}"
                                       title="{% if btn.alt %}{{ btn.alt }}{% else %}{{ btn.title }}{% endif %}"
                                       class="btn btn-{{ btn.class }} btn-xs">{{ btn.content | raw }}</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}