{% extends ext ? ext : 'vendor/lfw/admin/src/Weblab/Admin/View/admin.twig' %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading lead">{{ conf.title | capitalize }}</div>
	<div class="panel-body">
		{% if conf.url and conf.url != "#" %}
    <form enctype="multipart/form-data" class="bs-example form-horizontal" method="post" action="{{ conf.url }}">
{% else %}
    <div class="form-horizontal">
{% endif %}
	        {{ conf.content | raw }}
	        {{ block('maestro') }}

		{% if conf.url and conf.url != "#" %}
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<div class="pull-left">
				      <input type="submit" class="btn btn-primary" value="{{ _lang.get('next') }}" /> 
				    </div>
				</div>
			</div>
	    </form>
	    {% else %}
    </div>
{% endif %}
	</div>
</div>
{% endblock %}