{% block breadcrumbs %}
    {% if breadcrumbs %}
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.href %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.title | capitalize }}</a></li>
                {% else %}
                    <li class="active">{{ breadcrumb.title | capitalize }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}