{% extends ext ? ext : 'vendor/lfw/admin/src/Weblab/Admin/View/admin.twig' %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% import "Weblab/Maestro/View/twig_macro_forms.twig" as forms %}

{% block content %}{% endblock %}