{% if languages.count() <= 1 %}
    {% for language in languages %}
        <div class="i18n">
            {% if language.content %}{{ language.content | raw }}{% endif %}
        </div>
    {% endfor %}
{% else %}
    <h4 style="margin-top: 40px;">Translations</h4>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        {% for language in languages %}
            <li {% if loop.index0 == 0 %}class="active"{% endif %}><a href="#lang{{ language.getId() }}"
                                                                      data-toggle="tab">{{ language.getTitle() }}</a>
            </li>{% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% for language in languages %}
            <div class="tab-pane fade{% if loop.index0 == 0 %} in active{% endif %}" id="lang{{ language.getId() }}">
                {% if language.content %}{{ language.content | raw }}{% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}