{% extends ext %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% block content %}
    {% if conf.dontencapsulate %}
        {{ conf.content | raw }}
    {% else %}

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">

            <li class="active"><a href="#tab0" data-toggle="tab">{{ conf.title | capitalize }}</a></li>

            {% for tab in conf.tabs %}
                <li><a href="#tab{{ loop.index }}" data-toggle="tab">{{ tab.title }}</a></li>{% endfor %}

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div class="tab-pane fade in active" id="tab0">
                <div class="panel panel-default">
                    <!-- <div class="panel-heading lead">{{ _lang.get('edit') | capitalize }} {{ conf.title | lower }}</div> -->
                    <div class="panel-body">
                        {{ conf.content | raw }}
                    </div>
                </div>
                {{ conf.afterContent | raw }}
            </div>

            {% for tab in conf.tabs %}
                <div class="tab-pane fade" id="tab{{ loop.index }}">
                    {{ tab.content | raw }}
                </div>
            {% endfor %}

        </div>

    {% endif %}
{% endblock %}