{% extends 'vendor/lfw/admin/src/Weblab/Admin/View/admin.twig' %}

{% use 'vendor/lfw/admin/Weblab/Maestro/View/breadcrumbs.twig' %}

{% import "vendor/lfw/admin/Weblab/Maestro/View/twig_macro_forms.twig" as forms %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <a class="thumbnail" style="text-align: center;" href="/dynamic/tables/view/4" title="Menus">
                    <i class="fa fa-sitemap fa-fw"
                       style="font-size: 100px; line-height: 150px; text-align: center;"></i>

                    <h2>Menijska struktura</h2>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="thumbnail" style="text-align: center;" href="/dynamic/tables/view/4" title="Menus">
                    <i class="fa fa-sitemap fa-link"
                       style="font-size: 100px; line-height: 150px; text-align: center;"></i>

                    <h2>Usmerjevalnik</h2>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="thumbnail" style="text-align: center;" href="/dynamic/tables/view/39" title="Users">
                    <i class="fa fa-copy fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>

                    <h2>Vsebine</h2>
                </a>
            </div>
        </div>
        <!-- <div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading lead">SEO nastavitve</div>
			<div class="panel-body">
				<form enctype="multipart/form-data" class="bs-example form-horizontal" method="post" action="#">
					{{ forms.input(
        "text",
        {
            "name": "seo[title]",
            "id": "seo_title",
            "placeholder": "Naslov strani",
        },
        { "title": "Title" }) }}
					{{ forms.input(
        "text",
        {
            "name": "seo[keywords]",
            "id": "seo_keywords",
            "placeholder": "Ključne besede",
        },
        { "title": "Keywords" }) }}
					{{ forms.input(
        "text",
        {
            "name": "seo[description]",
            "id": "seo_description",
            "placeholder": "Kratek opis",
        },
        { "title": "Description" }) }}
					{{ forms.input(
        "file",
        {
            "name": "seo[image]",
            "id": "seo_file",
            "placeholder": "Slika",
        },
        { "title": "Slika" }) }}
			    </form>
			</div>
		</div>
	</div> -->
    </div>
{% endblock %}