{% extends ext ? ext : 'vendor/lfw/admin/src/Weblab/Admin/View/admin.twig' %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% block content %}
    <div class="row">
        <div class="{% if conf.content_sidebar %}col-lg-8{% else %}col-md-12{% endif %}">
            <div class="panel panel-default">
                <div class="panel-heading lead">{{ _lang.get('edit') | capitalize }} {{ conf.title | lower }}</div>
                <div class="panel-body">
                    {{ conf.content | raw }}
                </div>
            </div>
            {{ conf.afterContent | raw }}
        </div>
        {% if conf.content_sidebar %}
            <div class="col-lg-4">
                {{ conf.content_sidebar | raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}