{% extends 'vendor/lfw/admin/src/Weblab/Admin/View/admin.twig' %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading lead">
            {{ _lang.get('sort') }} {{ conf.title }}
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-hover table-responsive sorttable"
                   data-sort-url="{{ conf.sorturl }}">
                <thead>
                <tr>
                    {% for head in conf.heading %}
                        <th>{{ head }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        {% for k,col in row if k != "rowbtn" %}
                            <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}