{% extends 'vendor/lfw/admin/src/Weblab/Admin/View/admin.twig' %}

{% use 'Weblab/Maestro/View/breadcrumbs.twig' %}

{% block content %}
    <div class="panel panel-default">
    <div class="panel-heading lead">{{ _lang.get('view') | capitalize }} {{ conf.title | lower }}</div>
    <div class="panel-body">
        <div class="bs-example form-horizontal">
            {{ conf.content | raw }}
            </form>
        </div>
    </div>
{% endblock %}