
#textArea2 {
    height: 400px !important;

}

/* images */
/* last col in row */
.sortimage > .col-sm-3:nth-child(4) {
    clear: right;
}

/* first col in row */
.sortimage > .col-sm-3:nth-child(4n+1) {
    clear: left;
}

/* every col but first row */
.sortimage > .col-sm-3:nth-child(n+4) {
    margin-top: 20px;
}

.panel.lfwPlugin > .lead {
    margin-bottom: 0;
    cursor: pointer;
}

.panel.lfwPlugin > .lead.lfwPluginActive {
    margin-bottom: 20px;
}

.panel.lfwPlugin > .panel-body {
    display: none;
}

.panel.lfwPlugin > .panel-body.lfwPluginActive {
    display: block;
}

.navbar-collapse {
    max-height: none;
}

.table tr.child td {
    display: table-cell;
    height: 2px;
    overflow: hidden;
}

.table tr.child {
    display: table-row;
    height: 2px;
    overflow: hidden;
    width: 100%;
}

.tab-pane, div.i18n {
    padding-top: 20px;
}

.tab-pane .panel-default {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.tab-pane {
    padding-top: 0;
}


