<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
    {{ _seo | raw }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {{ _assetManager | raw }}
    <script>
        $(document).foundation();
    </script>
    {{ debugBar.renderHead() | raw }}
</head>
<body ng-controller="BodyController">
<div id="wrapper" class="off-canvas-wrap">

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a class="navbar-brand" href="/maestro/">Admin panel</a>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="has-dropdown">
                    <a href="#"><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown">
                        <li><a href="{{ _router.make('logout') }}"><i
                                        class="fa fa-sign-out fa-fw"></i> {{ __('Logout') }}</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>

    <div class="row" style="width: 100%;max-width: 100%;">
        <ul class="side-nav medium-2">
            {% macro menu(m, level) %}
                {% for menu in m.getChildren %}
                    <li>
                        <a href="{% if menu.getUrl() %}{{ menu.getUrl() }}{% else %}#{% endif %}"><i
                                    class="fa fa-{{ menu.getIcon() }} fa-fw"></i> {{ menu.getTitle() }}{% if menu.getChildren %}
                                <span class="fa arrow"></span>{% endif %}</a>
                        {% if menu.getChildren %}
                            <ul>
                                {{ _self.menu(menu, level + 1) }}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endmacro %}
            {{ _self.menu(adminMenu, 1) }}
        </ul>

        <!-- Page Content -->
        <div class="medium-9">
            <div class="row">
                <div class="medium-12" style="padding-top: 30px;">
                    {{ block('breadcrumbs') }}
                    {{ _debug | raw }}
                    {{ block('content') }}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>

</div>
<!-- /#wrapper -->

{{ debugBar.render() | raw }}
</body>
</html>