<!DOCTYPE html>
<html lang="en">
<head>
    {{ _seo | raw }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {{ _assetManager | raw }}
    {{ debugBar.renderHead() | raw }}
</head>
<body>
{% if false and not _auth.isLoggedIn() %}
    <div class="container">
        <div class="row">
            {{ block('content') }}
        </div>
    </div>
{% else %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/maestro/">Admin panel</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ _router.make('logout') }}"><i
                                        class="fa fa-sign-out fa-fw"></i> {{ __('Logout') }}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                    </ul>
                    <ul class="nav" id="side-menu">
                        {% macro menu(m, level) %}
                            {% for menu in m.getChildren %}
                                <li>
                                    <a href="{% if menu.getUrl() %}{{ menu.getUrl() }}{% else %}#{% endif %}"><i
                                                class="fa fa-{{ menu.getIcon() }} fa-fw"></i> {{ menu.getTitle() }}{% if menu.getChildren %}
                                            <span class="fa arrow"></span>{% endif %}</a>
                                    {% if menu.getChildren %}
                                        <ul class="nav nav-{% if level == 1 %}second{% elseif level == 2 %}third{% else %}fourth{% endif %}-level">
                                            {{ _self.menu(menu, level + 1) }}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endmacro %}
                        {{ _self.menu(adminMenu, 1) }}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12" style="padding-top: 30px;">
                    {{ block('breadcrumbs') }}
                    {{ _debug | raw }}
                    {{ block('content') }}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endif %}

{{ debugBar.render() | raw }}
</body>
</html>