{% extends 'admin.twig' %}

{% block content %}
    <div ng-controller="LayoutController">
        <div ng-show="1">Left</div>
        <div ng-show="1">Center</div>
        <div ng-show="1">Right</div>
    </div>
{% endblock %}